

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.buscador-home {
	margin-top: 20px;
	margin-bottom: 10px;
}

.list-group-item {
	min-height: 200px;
	border: none;
}


.contenido-home {
	margin-top: 2em;
}

.img-64 {
	width: 64px;
}







